[MySQL]
host=127.0.0.1
user=root
passwd=
db=dashboard


[Path]
report_root=/home/moon/dev/metric_project/InstantInsight-Trunk/generator/data/reports/
metric_root=/home/moon/dev/metric_project/InstantInsight-Trunk/generator/data/metric/
multimetric_root=/home/moon/dev/metric_project/InstantInsight-Trunk/generator/data/multi-metric/
thumbnail_root=/home/moon/dev/metric_project/InstantInsight-Trunk/generator/data/thumbnails/
preview_root=/home/moon/dev/metric_project/InstantInsight-Trunk/generator/data/previews/
metric_annot_image=/home/moon/dev/metric_project/generator/resource/annotation.png
flipped_bar_metric_annot_image=/home/moon/dev/metric_project/generator/resource/annotation_flipped_bar.png
font_path=/home/moon/dev/metric_project/generator/resource/fonts/

[Permissions]
file_owner=moon
use_encryption=Y
encryption_password_path=/home/moon/dev/metric_project/data/aes_password
